*{
    margin: 0;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1.724fr 1fr;
    grid-template-rows: 1fr 2.577fr 1fr;
    grid-template-areas:
    "header header header"
    "left_aside main right_aside"
    "footer footer footer";
}
header{
    grid-area: header;
    background: #D9D9D9;

}
footer{
    grid-area: footer;
    background: #D9D9D9;

}
main{
    grid-area: main;
    background: #A4A4A4;

}
.left_aside{
    grid-area: left_aside;
    background: #C0BDBD;

}
.right_aside{
    grid-area: right_aside;
    background: #C0BDBD;

}