*{
    margin: 0;
}
.grid{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 22fr 56fr 22fr;
}
header, footer{
    background: #D9D9D9;
}
main{
    background: #A4A4A4;
}
