*{
    margin: 0;
    padding: 0;
}
body{
    background: #fdfdf6;
}
.title_{
    display: flex;
    justify-content: center;
    /*font-size: 20px;*/
    /*font-weight: 900;*/
    margin: 20px;
}
.conteyner{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 100hv;
    gap: 20px;
    padding: 15px;

}
.item{
    background: aliceblue;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 300px;
    height: 350px;
    border: 2px solid grey;
    padding: 5px 5px;
}

.item img{
    width: 60%;
}
.item p{
    font-size: 25px;
    font-weight: 600;
}

